@{
    ViewBag.Title = "Home Page";
}

<script>
    $(function () {
        $("#lnkConnect").click(function (e) {
            window.location.href = $('#txtAllscriptsEnv').val() + '/discover?appID=' + $('#txtAppID').val() + '&redirectURI=' + $('#txtRedirectURI').val();
        });
    });
</script>

<div style="padding:10px">
    
    <div class="form-group" style="padding: 10px;">
        @Html.Label("OAuth Client ID", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("txtAppID", "f75d68b4-97a8-489a-ac90-d05aa12616d1", new { style = "width: 400px" })
        </div>
    </div>
    <div class="form-group" style="padding: 10px;">
        @Html.Label("Redirect URI", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("txtRedirectURI", "http://localhost:2134/Home/Callback", new { style = "width: 400px" })
        </div>  
    </div>
    <div class="form-group" style="padding: 10px;">
        @Html.Label("Allscripts Environment", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("txtAllscriptsEnv", new List<SelectListItem>() 
                { 
                    new SelectListItem() { Text = "Production", Value = "https://open.allscripts.com/patient" }, 
                    new SelectListItem() { Text = "Stage", Value = "http://adpstage.southcentralus.cloudapp.azure.com/patient" }, 
                    new SelectListItem() { Text = "Dev", Value = "http://192.168.33.10/PatientPortal" }
                }, 
                new { @class = "col-md-2 control-label" })
        </div>
    </div>
</div>
<div style="clear:both;" />
<div>
    <div style="width: 50%; padding: 10px; float:left">
        <h1>Connect with Allscripts</h1>
        <p class="lead">Demo of discovery process </p>
        <p><a id="lnkConnect" class="btn btn-default" href="#">Connect with Allscripts &raquo;</a></p>
</div>